body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  background:#020617;
  color:white;
  padding:30px;
  border-radius:12px;
  width:260px;
}

input{
  width:100%;
  padding:8px;
  margin-bottom:12px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  padding:6px 0;
}
